<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bulma.min.css') }}" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('style.css') }}" type='text/css'>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
            body, html{
                font-family: "Zilla Slab", serif;
            }
            .post, nav, .level{
                background-color: white;
            }

            .post{
                padding-bottom: 20px;
                margin: 20px;
            }

            nav{
                padding: 25px;
                border-bottom: 1px solid #eeeeee;
            }

            .media-content{
                margin-top: 10px;
            }

            .article{
                background-color: white;
                border-radius: 3px;
                padding: 30px;
            }

            .article-container, .media{
                border-bottom: 5px solid;
                border-color: #e0e0e0;
                border-width: 1px;
            }

            .footer{
                background-color: white;
            }

            .tag{
                margin-top: 10px;
            }
        </style>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>

        <nav class="level">
            <div class="level-left">
                <a href="{{ path('blog') }}" class="is-primary">
                    <div class="level-item">
                        <p class="title is-2 is-primary"><strong>blog.</strong></p>
                    </div>
                </a>
            </div>



            <div class="level-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <p class="level-item is-normal">
                        <a href="{{ path('posts') }}">
                            <strong>
                                {{ app.user.username }}
                            </strong>
                        </a>
                    </p>
                    <p class="level-item is-normal">
                        <a href="{{ path('crud_new') }}">
                            <span class="icon has-text-info">
                              <i class="fas fa-plus"></i>
                            </span>
                        </a>
                    </p>
                    <p class="level-item is-normal">
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </p>

                {% else %}
                    <p class="level-item is-normal">
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </p>
                    <p class="level-item is-normal">
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    </p>
                {% endif %}

            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>blog.</strong> by Ali Lachguer
                </p>
                <p>E-application _ Projet Symfony 3.4</p>
            </div>
        </footer>


    </body>
</html>
