{% extends "base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block body %}



    <div class="container is-widescreen" id="main">
        {% for blog in blogs %}
            <div class="columns is-centered">
                <div class="column is-four-fifths media post">
                    <article>
                        <header>
                            <h2 class="title is-3"><a href="/post/{{ blog.slug }}">{{ blog.title }}</a>
                                <footer class="subtitle is-6">
                                    <div class="tags has-addons">
                                        <span class="tag is-primary">{{ blog.username }}</span>
                                        <span class="tag">{{ blog.publishedDatetime | date('d-m-y h:i a') }}</span>
                                    </div>
                                </footer>
                            </h2>
                        </header>
                        <!--
                        <img class="thumbnail" src="https://placehold.it/850x350">
                        -->
                        <section class="media-content">
                            <p class="is-small">{{ blog.content|length > 255 ? blog.content|slice(0, 255) ~ '...' : blog.content  }}</p>
                        </section>
                    </article>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

